body {
    margin: 0;
    font-family: 'Avenir';
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    color: #fff;
    background-attachment: fixed;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    src: local('AvenirLTStd-Book'), url('../fonts/AvenirLTStd-Book.otf') format('otf');
}
a {
    text-decoration: none;
    color: #1076ca;
}
a:hover {
    color: #999;
}
li {
    list-style-type: square;
}
h2 {
    font-weight: 400;
/*    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);*/
}
.intro {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 5%;
}
.languages {
    height: 150px;
    position: fixed;
    right: 20px;
    padding-top: 40px;
    top: 100px;
    width: 50px;
}
.language {
    background-size: cover;
    background-image: url("../images/comment_hover.png");
    color: #1076ca;
    display: block;
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    line-height: 1.7;
    padding: 3px;
    position: relative;
    text-align: center;
    width: 30px;
    transition: margin-top 0.5s;
    transform: scale(0, 0);
    transition: transform 0.5s;
    cursor: pointer;
    transition: transform 0.5s;
}
.language.selected {
    background-image: url("../images/comment_white.png");
    color: #1076ca;
    position: absolute;
    top: 0;
    z-index: 2;
    transform: scale(1, 1);
}
.languages:hover .language {
    transform: scale(1, 1);
    transition: transform 0.5s;
}
.languages:hover .language:hover {
    background-image: url("../images/comment_blue.png");
    color: #fff;
}
/* NAVBAR */
.navbar {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 6;
}
.navbar a {
    color: #fff;
}
.navbar_element_logo{
    height: 40px;
    margin: 20px;
    z-index: 7;
    position: absolute;
}
ul.portaltabs{
    float: right;
    margin: 0;
}
ul.portaltabs li{
    border: 2px solid transparent;
    border-radius: 25px;
    float: left;
    font-size: 14px;
    list-style-type: none;
    margin: 20px;
    padding: 5px 20px;
    text-transform: uppercase;
}
ul.portaltabs li:hover{
    background: #FFF none repeat scroll 0 0;
}
ul.portaltabs li:hover a {
    color: #1076ca;
}
ul.portaltabs li.selected{
    border: 2px solid #fff;
}
@media (max-width: 1200px) {
    .navbar {
        min-height: 70px;
    }
    ul.portaltabs {
        width: 100%;
    }
    .navbar:before{
        background-image: url("../images/menu.png");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 40px;
        margin-right: 20px;
        margin-top: 10px;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        z-index: 7;
    }
    ul.portaltabs {
        width: 100%;
        margin: 0;
        margin-top: -100%;
        transition: margin-top 1s;
    }
    ul.portaltabs li{
        width: 100%;
        text-align: center;
        border-radius: 0;
        margin: 0;
        padding: 10px;
    }
    ul.portaltabs li:first-child{
        margin-top: 80px;
    }
    .navbar:hover ul.portaltabs {
        margin-top: 0;
        transition: margin-top 1s;
    }
}
/* FOOTER */
.footerbar{
    background: #7f8c8d none repeat scroll 0 0;
    bottom: 0;
    color: #bec4c5;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.footer_text_left{
    float: left;
    font-size: 14px;
    margin-left: 1%;
    text-align: left;
    width: 40%;
}
.footer_text_right{
    float: right;
    font-size: 14px;
    margin-right: 1%;
    text-align: right;
}
.footer_icone_center{
    float: left;
    height: 40px;
    position: absolute;
    width: 100%;
}
.footer_icone_size{
    height: 30px;
    margin: 0 5px;
}
@media (max-width: 1200px) {
    .footer_text_left, .footer_text_right {
        display: none;
    }
    .footer_icone_center{
        position: relative;
    }
}
/* CONTENT COMMUN */
.content {
    background-color: rgba(255, 255, 255, 0.1);
/*    background-color: rgba(16, 118, 202, 0.1);*/
}
#content {
/*    background-color: rgba(255, 255, 255, 0.8);*/
    background-color: #fff;
    color: #1076ca;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 10%;
    text-align: center;
}
header {
    background-color: #fff;
    padding: 10% 20%;
    position: relative;
    z-index: 3;
}
header h1 {
    display: none;
}
header h2,
header .description {
    color: #1076ca;
    font-size: 30px;
    font-weight: 400;
    margin: 5%;
}
header:before,
header:after {
    border-bottom: 1px solid #999;
    color: red;
    content: "";
    left: 10%;
    position: absolute;
    width: 80%;
}
header .citation:before {
    content: "“";
    font-family: arial;
    font-size: 60px;
    font-weight: 900;
    margin-left: -40px;
    margin-top: -10px;
    position: absolute;
}
header .citation:after {
    content: "”";
    font-family: arial;
    font-size: 60px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 20px;
    position: absolute;
}
.column_70 {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    width: 60%;
    position: relative;
    z-index: 3;
}
.column_60 {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
    position: relative;
    z-index: 3;
}
.column_50 {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    width: 40%;
    position: relative;
    z-index: 3;
}
.column_40 {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    width: 30%;
    position: relative;
    z-index: 3;
}
.column_30 {
    float: left;
    margin-left: 5%;
    padding: 2%;
    position: relative;
    width: 20%;
    z-index: 3;
}
.column_img {
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10%;
    padding-bottom: 100%;
    width: 100%;
}
.blue {
    background-color: #1076ca;
    color: #fff;
}
.timbre_img {
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: -5%;
    margin-top: -15%;
    padding-bottom: 25%;
    transform: rotate(-10deg);
    width: 25%;
    z-index: 2;
}
.map {
    border: medium none;
    filter: saturate(170%);
    height: 500px;
    width: 100%;
    z-index: 4;
}
.left {
    text-align: left;
}
.icone {
    text-align: left;
}
.icone h2 {
    margin: 0;
}
.icone:before {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    float: left;
    margin-right: 5%;
    padding-top: 15%;
    width: 15%;
}
.icone:after {
    content: "";
    display: block;
    margin-bottom: 5%;
}
.icone.client:before {
    background-image: url("../images/icones/bleu_client.gif");
}
.icone.link:before {
    background-image: url("../images/icones/bleu_lien.gif");
}
.icone.task:before {
    background-image: url("../images/icones/bleu_task.gif");
}
.icone.webdesign:before {
    background-image: url("../images/icones/bleu_webdesign.gif");
}
.icone.developpement:before {
    background-image: url("../images/icones/bleu_developpement.gif");
}
.icone.hebergement:before {
    background-image: url("../images/icones/bleu_infrastructure.gif");
}
.icone.coaching:before {
    background-image: url("../images/icones/bleu_coaching.gif");
}
.icone.mail:before {
    background-image: url("../images/icones/bleu_mail.gif");
}
.icone.github:before {
    background-image: url("../images/icones/bleu_github.gif");
}
.icone.twitter:before {
    background-image: url("../images/icones/bleu_twitter.gif");
}
.icone.adress:before {
    background-image: url("../images/icones/bleu_address.gif");
}
.icone.phone:before {
    background-image: url("../images/icones/bleu_phone.gif");
}
.Front {
    z-index: 4;
}
.Back {
    z-index: 2;
}
/* VIGNETTE */
#vignette article {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    margin: 2%;
    min-height: 300px;
    overflow: hidden;
    padding: 2%;
    position: relative;
    width: 40%;
}
#vignette article .tileImage {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
#vignette article .tileImage {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    margin-top: 0;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: margin-top 0.5s;
    width: 100%;
}
#vignette article:hover .tileImage {
    margin-top: -110%;
    transition: margin-top 0.5s;
}
#vignette article h2 {
    left: 0;
    position: absolute;
    top: 100%;
    transition: top 0.5s ease 0s;
    width: 100%;
    z-index: 3;
}
#vignette a:hover {
    color: #1076ca;
}
#vignette article:hover h2 {
    top: 10%;
    transition: top 0.5s;
}
#vignette article .tileBody {
    left: 0;
    opacity: 0;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    top: 100%;
    transition: opacity 0.5s ease 0s, top 0.5s ease 0s;
    width: 80%;
 }
#vignette article:hover .tileBody {
    opacity: 1;
    top: 35%;
    transition: opacity 0.5s, top 0.5s;
}
@media (max-width: 1200px) {
    #vignette article {
        width: 90%;
    }
}
#vignette article .tileFooter {
    bottom: -100%;
    margin: 5%;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease 0s, bottom 0.5s ease 0s;
    right: 0;
}
#vignette article:hover .tileFooter {
    bottom: 0;
    opacity: 1;
    transition: opacity 0.5s ease 0s, bottom 0.5s ease 0s;
}
#vignette article .icone:before {
    display: inline-block;
    float: none;
    margin-top: 2%;
    padding-top: 10%;
    width: 10%;
}
#vignette article .icone:after {
    display: inline;
}
/* CARTE */
#vignette.carte article {
    background: transparent none repeat scroll 0 0;
    display: inline-block;
    margin: 0;
    min-width: 300px;
    opacity: 0;
    overflow: hidden;
    padding: 0 0 10%;
    position: relative;
    transition: background-color 0.5s ease 0s, color 0.5s ease 0s, opacity 0.5s ease 0s;
    width: 30%;
}
#vignette.carte article h2 {
    color: #1076ca;
    font-size: 30px;
    top: 50%;
}
#vignette.carte article .tileBody,
#vignette.carte article:hover .tileBody {
    opacity: 1;
    top: 67%;
    z-index: 2;
}
#vignette.carte article .description {
    margin-bottom: 10%;
    color: ##999;
}
#vignette.carte article .tileImage {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    content: "";
    display: inline-block;
    margin-top: 0;
    min-width: 60%;
    opacity: 1;
    padding-top: 60%;
    position: relative;
    width: 60%;
    z-index: 1;
}
#vignette.carte article:before {
    background-color: #1076ca;
    border-radius: 100%;
    content: "";
    display: inline-block;
    margin-top: 0;
    min-width: 60%;
    opacity: 0;
    padding-top: 60%;
    position: absolute;
    width: 60%;
    z-index: 2;
    transition: opacity 0.5s;
}
#vignette.carte article:hover:before {
    opacity: 0.8;
    transition: opacity 0.5s;
}
#vignette.carte article .tileFooter {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 23%;
    width: 100%;
    z-index: 4;
    transition: opacity 0.5s;
}
#vignette.carte article:hover .tileFooter {
    opacity: 1;
    transition: opacity 0.5s;
}
/* FLOAT */
#vignette.float article {
    background: #fff none repeat scroll 0 0;
    display: block;
    float: left;
    margin: 0;
    min-height: 300px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 33.33%;
}
#vignette.float article:hover h2 {
    top: 5%;
}
#vignette.float article:hover .tileBody {
    top: 30%;
}
#vignette.float article .tileFooter {
    background-color: #fff;
    box-shadow: 0 -10px 10px rgb(255, 255, 255);
    margin: 0;
    padding: 5%;
    text-align: right;
    width: 100%;
}
/* BLOCK */
#vignette.block article {
    float: left;
    margin: 0;
    min-height: 300px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 33.33%;
}
#vignette.block article:nth-child(even) {
    background-color: #1076ca;
}
#vignette.block article:nth-child(even) a {
    color: #fff;
}
#vignette.block article .tileImage {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    border: 2px solid #fff;
    content: "";
    display: inline-block;
    margin-top: 15%;
    min-width: 25%;
    padding-top: 25%;
    position: relative;
    transition: padding-top 0.5s ease 0s, width 0.5s ease 0s, min-width 0.5s ease 0s, margin-top 0.5s ease 0s;
    width: 25%;
}
#vignette.block article:hover .tileImage {
    margin-top: 10%;
    min-width: 15%;
    padding-top: 15%;
    transition: padding-top 0.5s ease 0s, width 0.5s ease 0s, min-width 0.5s ease 0s, margin-top 0.5s ease 0s;
    width: 15%;
}
#vignette.block article h2 {
    top: 65%;
}
#vignette.block article:hover h2 {
    top: 35%;
}
#vignette.block article:hover .tileBody {
    top: 60%;
}
#vignette.block article:nth-child(6n+2) .tileImage {
    animation-name: heart;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
#vignette.block article:nth-child(6n+4) .tileImage {
    animation-name: rotate;
    animation-delay: 3s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes heart {
    0%   {transform: scale(1)}
    1%   {transform: scale(1.3)}
    2%   {transform: scale(1)}
    3%   {transform: scale(1.4)}
    4%   {transform: scale(1)}
    100% {transform: scale(1)}
}
@keyframes rotate {
    0%   {transform: rotateY(0deg)}
    4%   {transform: rotateY(90deg)}
    8%   {transform: rotateY(180deg)}
    12%   {transform: rotateY(270deg)}
    16%   {transform: rotateY(360deg)}
    100% {transform: rotateY(360deg)}
}
#map:before {
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
#map:after {
    background-color: rgba(255, 255, 255, 0.9);
    content: "";
    height: 100%;
    left: 0;
    margin: 0 15%;
    position: fixed;
    top: 0;
    width: 70%;
    z-index: 1;
}
#map .icone {
    margin-left: 15%;
}
#map .icone:before {
    margin-left: -15%;
    padding-top: 10%;
    width: 10%;
}
.background_map {
    filter: hue-rotate(120deg) saturate(30%) brightness(110%);
    height: 100%;
    left: 0;
    min-height: 500px;
    opacity: 0.7;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 0;
}
/*ACCUEIL*/
.portaltype-collection.section-accueil #content {
    margin: 0;
    background-color: transparent;
}
.portaltype-collection.section-accueil #content header {
    display: none;
}
.portaltype-collection.section-accueil #content-core #intro {
    padding-top: 5%;
    padding-bottom: 5%;
}
.portaltype-collection.section-accueil #content-core article {
    color: #fff;
    overflow: hidden;
    padding-top: 10%;
    position: relative;
}
.portaltype-collection.section-accueil #content-core article img {
    margin-bottom: -5%;
}
.portaltype-collection.section-accueil #content-core #buttons_home {
    margin-left: 95%;
    margin-top: 20%;
    position: fixed;
    top: 0;
    z-index: 10;
}
.portaltype-collection.section-accueil #content-core .button_home {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
    display: block;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.8;
    transition: background-color 0.5s ease 0s;
    width: 20px;
}
.portaltype-collection.section-accueil #content-core .button_home:hover {
    background-color: #1076ca;
    transition: background-color 0.5s;
}
.portaltype-collection.section-accueil #content-core .button_home.selected {
    background-color: transparent;
}
.portaltype-collection.section-accueil #content-core .fleche {
    background-image: url("../images/fleche_bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    padding-top: 5%;
    width: 5%;
}
.portaltype-collection.section-accueil #content-core article .contentItem {
    position: relative;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.portaltype-collection.section-accueil #content-core article .tileBody {
    padding-left: 25%;
    padding-right: 25%;
}
.portaltype-collection.section-accueil #content-core article a {
    color: #fff;
}
.portaltype-collection.section-accueil #content-core article .more_info{
    position: relative;
    z-index: 5;
}
.portaltype-collection.section-accueil #content-core article h1 {
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 2%;
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.portaltype-collection.section-accueil #content-core #intro h1 {
    margin-top: 0;
}
.portaltype-collection.section-accueil #content-core article h1,
.portaltype-collection.section-accueil #content-core article a:hover {
    color: #fff;
}
.portaltype-collection.section-accueil #content-core article .tileImage {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0.5%;
    margin-top: -8%;
    position: absolute;
    width: 100%;
}
.tileImage.BackgroundColor {
/*    background-color: rgba(255, 255, 255, 0.3);*/
/*    height: 90%;*/
/*    z-index: 1;*/
}
.portaltype-collection.section-accueil #content-core article .tileFooter {
    display: inline-block;
    font-size: 16px;
    border: 3px solid #FFF;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 25px;
}
.portaltype-collection.section-accueil #content-core article a .tileFooter:hover {
    background-color: #fff;
    color: #1076ca;
}
#clear {
    clear: both;
}
/*ANIMATION*/
.in-view {
    opacity: 1 !important;
    transition: opacity 0.5s;
}
/*EQUIPE INDIVIDUEL*/
#cv header h2,
#cv header .txt {
    margin-left: 30%;
}
