body {
    margin: 0;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    color: #fff;
    background-attachment: fixed;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    src: local('AvenirLTStd-Book'), url('../fonts/AvenirLTStd-Book.otf') format('otf');
}
a {
    text-decoration: none;
    color: #FFF;
}
a:hover {
    color: #2980b9;
}
li {
    list-style-type: square;
}
h2 {
    font-weight: 400;
}
/* NAVBAR */
.navbar{
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 6;
}
.navbar_element_logo{
    height: 40px;
    margin: 20px;
    z-index: 7;
    position: absolute;
}
ul.portaltabs{
    float: right;
    margin: 0;
}
ul.portaltabs li{
    border: 2px solid transparent;
    border-radius: 25px;
    float: left;
    font-size: 14px;
    list-style-type: none;
    margin: 20px;
    padding: 5px 20px;
    text-transform: uppercase;
}
ul.portaltabs li:hover{
    background: #FFF none repeat scroll 0 0;
}
ul.portaltabs li:hover a {
    color: #2980b9;
}
ul.portaltabs li.selected{
    border: 2px solid #fff;
}
@media (max-width: 1200px) {
    .navbar {
        min-height: 70px;
    }
    ul.portaltabs {
        width: 100%;
    }
    .navbar:before{
        background-image: url("../images/menu.png");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 40px;
        margin-right: 20px;
        margin-top: 10px;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        z-index: 7;
    }
    ul.portaltabs {
        width: 100%;
        margin: 0;
        margin-top: -100%;
        transition: margin-top 1s;
    }
    ul.portaltabs li{
        width: 100%;
        text-align: center;
        border-radius: 0;
        margin: 0;
        padding: 10px;
    }
    ul.portaltabs li:first-child{
        margin-top: 80px;
    }
    .navbar:hover ul.portaltabs {
        margin-top: 0;
        transition: margin-top 1s;
    }
}
/* FOOTER */
.footerbar{
    background: #7f8c8d none repeat scroll 0 0;
    bottom: 0;
    color: #bec4c5;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.footer_text_left{
    float: left;
    font-size: 14px;
    margin-left: 1%;
    text-align: left;
    width: 40%;
}
.footer_text_right{
    float: right;
    font-size: 14px;
    margin-right: 1%;
    text-align: right;
}
.footer_icone_center{
    float: left;
    height: 40px;
    position: absolute;
    width: 100%;
}
.footer_icone_size{
    height: 30px;
    margin: 0 5px;
}
@media (max-width: 1200px) {
    .footer_text_left, .footer_text_right {
        display: none;
    }
    .footer_icone_center{
        position: relative;
    }
}
/* CONTENT */
#content{
    margin: 10%;
    max-width: 100%;
    min-height: 100%;
    padding-bottom: 10%;
    text-align: center;
}
#content header h1 {
    font-size: 4em;
    font-weight: 900;
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
/*ACCUEIL*/
.portaltype-collection.section-accueil #content {
    margin: 0;
}
.portaltype-collection.section-accueil #content-core {
  margin:0;
  padding:0;
}
.portaltype-collection.section-accueil #content-core article {
    color: #fff;
    overflow: hidden;
    padding-top: 10%;
    position: relative;
}
.portaltype-collection.section-accueil #content-core #buttons_home {
    margin-left: 95%;
    margin-top: 20%;
    position: fixed;
    top: 0;
    z-index: 10;
}
.portaltype-collection.section-accueil #content-core .button_home {
    background-color: #fff;
    border-radius: 100%;
    display: block;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.5s ease 0s;
    width: 20px;
}
.portaltype-collection.section-accueil #content-core #button_home:hover {
    background-color: #1076ca;
    transition: background-color 0.5s;
}
.portaltype-collection.section-accueil #content-core article .contentItem {
    position: relative;
    z-index: 4;
}
.portaltype-collection.section-accueil #content-core article h1 {
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 2%;
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.portaltype-collection.section-accueil #content-core article h1,
.portaltype-collection.section-accueil #content-core article a:hover {
    color: #fff;
}
.portaltype-collection.section-accueil #content-core article .tileImage {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    margin-top: 2%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.portaltype-collection.section-accueil #content-core article .tileImage.Front {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.7;
    z-index: 3;
}
.portaltype-collection.section-accueil #content-core article .tileImage.Back {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.5;
    z-index: 2;
}
.portaltype-collection.section-accueil #content-core article:nth-child(2) .tileImage.BackgroundColor {
    background-color: rgba(255, 255, 255, 0.3);
    height: 90%;
    z-index: 1;
}
.portaltype-collection.section-accueil #content-core article .tileFooter {
    display: inline-block;
    font-size: 16px;
    border: 3px solid #FFF;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 25px;
}
.portaltype-collection.section-accueil #content-core article a .tileFooter:hover {
    background-color: #fff;
    color: #1076ca;
}
/*SERVICES*/
.portaltype-folder.section-services #content-core article {
    background-color: #fff;
    color: #1076ca;
    float: left;
    margin: 0;
    position: relative;
    width: 100%;
}
.portaltype-folder.section-services #content-core article .tileImage {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 2;
    margin-left: 0;
    transition: margin-left 1s ease 0s;
}
.portaltype-folder.section-services #content-core article:nth-child(2) .tileImage {
    margin-left: 50%;
    transition: margin-left 1s ease 0s;
}
.portaltype-folder.section-services #content-core article:hover .tileImage{
    margin-left: 50%;
    transition: margin-left 1s ease 0s;
}
.portaltype-folder.section-services #content-core article:nth-child(2):hover .tileImage{
    margin-left: 0;
    transition: margin-left 1s ease 0s;
}
.portaltype-folder.section-services #content-core article a {
    color: #1076ca;
 }
.portaltype-folder.section-services #content-core article .contentItem {
    padding-bottom: 10%;
    padding-top: 10%;
}
.portaltype-folder.section-services #content-core article .tileHeader {
    margin-left: 50%;
}
.portaltype-folder.section-services #content-core article:nth-child(2) .tileHeader {
    margin-left: 0;
    margin-right: 50%;
}
.portaltype-folder.section-services #content-core article .tileBody,
.portaltype-folder.section-services #content-core article .tileFooter {
    margin-right: 50%;
}
.portaltype-folder.section-services #content-core article:nth-child(2) .tileBody,
.portaltype-folder.section-services #content-core article:nth-child(2) .tileFooter {
    margin-right: 0;
    margin-left: 50%;
}
/*CONTACT*/
.portaltype-document.section-contact #content {
    margin: 0 20%;
    max-width: 100%;
    min-height: 100%;
    padding-bottom: 0;
    position: relative;
    z-index: 3;
}
.portaltype-document.section-contact header {
    background-color: rgba(255, 255, 255, 0.9);
    color: #1076ca;
    padding: 10% 10% 0;
    position: relative;
    z-index: 3;
}
.portaltype-document.section-contact header .description {
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    font-size: 30px;
    font-weight: 400;
    padding: 5% 0;
}
.portaltype-document.section-contact header .description:before {
    content: "“";
    font-family: arial;
    font-size: 60px;
    font-weight: 900;
    margin-left: -40px;
    margin-top: -10px;
    position: absolute;
}
.portaltype-document.section-contact header .description:after {
    content: "”";
    font-family: arial;
    font-size: 60px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 20px;
    position: absolute;
}
.portaltype-document.section-contact #adresse h2 {
    color: #1076ca;
}
.portaltype-document.section-contact #adresse a {
    color: #999;
}
.portaltype-document.section-contact #adresse a:hover {
    color: #1076ca;
}
.portaltype-document.section-contact #adresse {
    background-color: rgba(255, 255, 255, 0.9);
    color: #999;
    padding: 5%;
    position: relative;
    text-align: left;
    z-index: 2;
}
.portaltype-document.section-contact #adresse .texte {
    margin-bottom: 10%;
    width: 50%;
}
.portaltype-document.section-contact #adresse .img:before {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    float: left;
    margin-right: 5%;
    padding-top: 10%;
    width: 10%;
}
.portaltype-document.section-contact #adresse .img.adress:before {
    background-image: url("../images/icones/bleu_address.gif");
}
.portaltype-document.section-contact #adresse .img.phone:before {
    background-image: url("../images/icones/bleu_phone.gif");
}
.portaltype-document.section-contact #adresse .img.mail:before {
    background-image: url("../images/icones/bleu_mail.gif");
}
.portaltype-document.section-contact #carte_background {
    filter: hue-rotate(120deg) saturate(30%) brightness(110%);
    height: 100%;
    left: 0;
    min-height: 500px;
    opacity: 0.7;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 0;
}
.portaltype-document.section-contact #adresse:before {
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.portaltype-document.section-contact #carte_vignette {
    border: medium none;
    filter: saturate(170%);
    height: 350px;
    margin-right: 5%;
    position: absolute;
    right: 0;
    top: 50%;
    width: 40%;
    z-index: 4;
}
#clear {
    clear: both;
}

/*ANIMATION*/
.no-view-left {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 800ms linear;
    -moz-transform: translate3d(-100%, 0px, 0px);
    -webkit-transform: translate3d(-100%, 0px, 0px);
    -o-transform: translate(-100%, 0px);
    -ms-transform: translate(-100%, 0px);
    transform: translate3d(-100%, 0px, 0px);
}
.no-view-right {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 800ms linear;
    -moz-transform: translate3d(100%, 0px, 0px);
    -webkit-transform: translate3d(100%, 0px, 0px);
    -o-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    transform: translate3d(100%, 0px, 0px);
}
.in-view {
    opacity: 1 !important;
    -moz-transform: translate3d(0px, 0px, 0px) !important;
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
    -o-transform: translate(0px, 0px) !important;
    -ms-transform: translate(0px, 0px) !important;
    transform: translate3d(0px, 0px, 0px);
}
/*REFERENCES COLLECTION*/
.template-clientfolderview #content-core {
    height:auto;
    overflow: hidden;
    top:0px;
    left:0px;
    width: 80%;
    margin:0px auto;
    position: relative;
    text-align:center;
}
.template-clientfolderview #content-core article {
    background: #fff none repeat scroll 0 0;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 2%;
    min-height: 300px;
    overflow: hidden;
    padding: 2%;
    position: relative;
    text-align: center;
    width: 40%;
}
.template-clientfolderview  #content-core article .tileImage {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.template-clientfolderview  #content-core article .tileImage {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    margin-top: -15%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: margin-top 1s;
    width: 100%;
}
.template-clientfolderview  #content-core article:hover .tileImage {
    margin-top: -110%;
    transition: margin-top 1s;
}
.template-clientfolderview  #content-core article h2 {
    color: #1076ca;
    display: inline;
    left: 0;
    margin-top: 5%;
    position: absolute;
    top: 75%;
    transition: top 1s ease 0s;
    width: 100%;
    z-index: 3;
 }
.template-clientfolderview  #content-core article:hover h2 {
    top: 10%;
    transition: top 1s;
}
.template-clientfolderview  #content-core article .tileBody {
    color: #1076ca;
    left: 0;
    opacity: 0;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    top: 100%;
    transition: opacity 1s ease 0s, top 1s ease 0s;
    width: 80%;
 }
.template-clientfolderview  #content-core article:hover .tileBody {
    opacity: 1;
    top: 35%;
    transition: opacity 1s, top 1s;
}
@media (max-width: 1200px) {
    .template-clientfolderview  #content-core article {
        width: 90%;
    }
}
.template-clientfolderview #content-core article .tileServices {
    margin-left: auto;
    margin-right: auto;
}
.template-clientfolderview #content-core article .tileServices .img {
    background-size: cover;
    content: "";
    display: inline-block;
    margin-top: 5%;
    padding-top: 10%;
    width: 10%;
}
.img.webdesign{
    background-image: url("../images/icones/bleu_webdesign.gif");
}
.img.developpement{
    background-image: url("../images/icones/bleu_developpement.gif");
}
.img.hebergement{
    background-image: url("../images/icones/bleu_infrastructure.gif");
}
.img.coaching{
    background-image: url("../images/icones/bleu_coaching.gif");
}
.template-clientfolderview #content-core article .tileFooter {
    bottom: -100%;
    color: #1076ca;
    margin: 5%;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease 0s, bottom 1s ease 0s;
    right: 0;
}
.template-clientfolderview #content-core article:hover .tileFooter {
    bottom: 0;
    opacity: 1;
    transition: opacity 1s ease 0s, bottom 1s ease 0s;
}
/*REFERENCES ITEM*/
.template-clientview #content {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5%;
}
.template-clientview article {
    padding: 2%;
    background-color: #fff;
    color: #999;
    font-size: 18px;
}
.template-clientview article a,
.template-clientview article a:hover {
    color: #999;
}
.template-clientview article h2 {
    color: #1076ca;
}
.template-clientview #client-testimonial {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-bottom: 5%;
    padding: 3% 20%;
}
.template-clientview #client-testimonial .title {
    color: #1076ca;
    font-size: 30px;
}
.template-clientview #client-testimonial h2:before {
    content: "“";
    font-family: arial;
    font-size: 60px;
    font-weight: 900;
    margin-left: -40px;
    margin-top: -10px;
    position: absolute;
}
.template-clientview #client-testimonial h2:after {
    content: "”";
    font-family: arial;
    font-size: 60px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 20px;
    position: absolute;
}
.template-clientview #client-description {
    float: left;
    width: 60%;
}
.template-clientview #client-description .img {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10%;
    padding-bottom: 60%;
    width: 100%;
}
.template-clientview #client-resume {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 30%;
}
.template-clientview #client-resume .resume:before {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    float: left;
    margin-right: 5%;
    padding-top: 15%;
    width: 15%;
}
.template-clientview #client-resume .resume.client:before {
    background-image: url("../images/icones/bleu_client.gif");
}
.template-clientview #client-resume .resume.web:before {
    background-image: url("../images/icones/bleu_lien.gif");
}
.template-clientview #client-resume .resume.task:before {
    background-image: url("../images/icones/bleu_task.gif");
}
.template-clientview #client-resume .resume{
    clear: both;
    margin-bottom: 10%;
}
.template-clientview #client-resume .resume h2 {
    margin: 0;
}
.template-clientview #client-resume .service .img {
    background-size: cover;
    content: "";
    display: block;
    float: left;
    margin-right: 2%;
    padding-top: 15%;
    width: 15%;
}
.template-clientview #client-resume .number_nbr{
    font-size: 30px;
}
/*EQUIPE COLLECTION*/
.template-zaffolderview #content-core {
    height: auto;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    top: 0;
}
.template-zaffolderview #content-core article {
    background: #fff none repeat scroll 0 0;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 2%;
    min-height: 300px;
    overflow: hidden;
    padding: 2%;
    position: relative;
    text-align: center;
    width: 40%;
}
.template-zaffolderview #content-core article:hover .tileFooter {
    visibility: visible;
}
@media (max-width: 1200px) {
    .template-zaffolderview #content-core article {
        width: 90%;
    }
}
.template-zaffolderview #content-core article:last-child:after{
    content: "";
    clear : both;
}
.template-zaffolderview #content-core article h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5%;
    color: #1076ca;
 }
.template-zaffolderview #content-core article .tileImage {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    overflow: hidden;
    padding-bottom: 20%;
    width: 20%;
}
.template-zaffolderview #content-core article .tileBody {
    color: #1076ca;
    height: 30px;
}
.template-zaffolderview #content-core article .tileMail {
    margin-top: 5%;
}
.template-zaffolderview #content-core article .tileMail a {
    color: #999;
 }
.template-zaffolderview #content-core article .tileFooter {
    bottom: 5%;
    clear: both;
    position: absolute;
    right: 5%;
    text-align: right;
    visibility: hidden;
    color: #1076ca;
}
/*EQUIPE INDIVIDUEL*/
.template-zafview #content article {
    background: #fff none repeat scroll 0 0;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
    color: #1076ca;
    margin: 10%;
    padding: 10%;
    max-width: 60%;
}
.template-zafview #content #zaf-boyz-description .tileImage {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    float: left;
    overflow: hidden;
    padding-bottom: 10%;
    position: absolute;
    width: 10%;
}
.template-zafview #content article h1 {
    font-size: 3em;
    font-weight: 900;
    margin: 0 0 0 30%;
    text-align: center;
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.template-zafview #content article h2 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 30%;
    margin-top: 1%;
}
.template-zafview #content article .date {
    color: #999;
    margin-left: 30%;
    text-align: center;
}
.template-zafview #content article #description {
    margin-top: 10%;
    text-align: left;
    width: 100%;
}
.template-zafview #content article #description div {
}
.template-zafview #content article #contact {
    position: absolute;
    width: 20%;
}
.template-zafview #content article #contact a {
    color: #1076ca;
}
.template-zafview #content article #experience {
    display: inline-block;
    margin-left: 40%;
}
@media (max-width: 1200px) {
    .template-zafview #content article {
        max-width: 95%;
    }
    .template-zafview #content article h1 {
        font-size: 2em;
    }
    .template-zafview #content article #contact {
        position: relative;
        width: 100%;
    }
    .template-zafview #content article #experience {
        width: 100%;
        margin-left: 0;
    }
}
