<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/animation.js"></script>
    </head>

    <body>
        <div class="body">
            <section id="portal-toolbar">
            </section>

            <div class="navbar">
                <div id="logo">
                    <a href="https://www.affinitic.be" class="logo-link" title="Affinitic">
                        <img src="images/affinitic_blanc_mini.png" alt="" class="navbar_element_logo" />
                    </a>
                </div>
                <ul class="portaltabs">
                </ul>
            </div>

            <div class="content">
<!--                <div replace="structure provider:languageviewlet"></div>-->


                <div class="content_body">
                </div>

<!--                <div id="portal-languages">-->
<!--                </div>-->
            </div>

            <div class="footerbar">
                <div class="footer_text_left">
                    info@affinitic.be
                    <br>GSM (administratif) : + 32 (0) 485 62 67 75
                    <br>GSM (gestion de projet / technique) : + 32 (0) 476 73 36 64
                </div>

                <div class="footer_icone_center">
                    <img src="images/facebook-icone.png" alt="" class="footer_icone_size" />
                    <img src="images/twitter-icone.png" alt="" class="footer_icone_size" />
                    <img src="images/RSS-icone-gris.png" alt="" class="footer_icone_size" />
                </div>

                <div class="footer_text_right">
                    Rue de la Maîtrise, 5D
                    <br>B-1400 Nivelles - Belgique
                    <br>N° d'entreprise : 0882 564 990
                </div>
            </div>

        </div>

    </body>
</html>
