<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/animation.js"></script>
    </head>

    <body>
            <section id="portal-toolbar">
            </section>

            <div class="navbar">
                <div id="logo">
                    <a href="https://www.affinitic.be" class="logo-link" title="Affinitic">
                        <img src="images/affinitic_blanc_mini.png" alt="" class="navbar_element_logo" />
                    </a>
                </div>
                <ul class="portaltabs">
                </ul>
            </div>

            <section id="body-content">
                <div class="content_body">
                </div>

                <div id="portal-languages">
                </div>
            </section>

            <footer>
                <div class="footer_text_left">
                    info@affinitic.be
                    <br>GSM (administratif) : + 32 (0) 485 62 67 75
                    <br>GSM (gestion de projet / technique) : + 32 (0) 476 73 36 64
                </div>

                <div class="footer_icone_center">
                    <a href="http://www.facebook.com/Affinitic" title="Affinitic Facebook">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="http://twitter.com/affinitic" title="Affinitic Twitter">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="http://www.linkedin.com/company/2709673/" title="Affinitic Linkedin">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="http://plus.google.com/114068655195334570692" title="Affinitic Google+">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-google-plus-official fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="http://blog.affinitic.be/" title="Affinitic Blog">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>

                <div class="footer_text_right">
                    Rue de la Maîtrise, 5D
                    <br>B-1400 Nivelles - Belgique
                    <br>N° d'entreprise : 0882 564 990
                </div>
            </footer>
    </body>
</html>
